body{
    background: linear-gradient(180deg, #CF0921 0 33%, #FCD20F 33% 66%, #006B3D 66% 99%);
    font-face: "Open Sans", sans-serif;
}

.content{
    background-color: #ffff;
    float:left;
    width:70% ;
}

@media (min-width: 1200px) {
    .content{
        width:80% ;
    }
}
@media (max-width: 626px) {
    .content{
        width:60% ;
    }
}

@media (max-width: 576px) {
    .content{
        width:80% ;
    }
}


.nav-menu{
    background-color: #000;
    color:#fff;
    min-height: 90%;

}

.nav-menu a{
    color:#fff;
}

.top-bar{
    background-color: #000;
    color:#fff;
    height:10%;
}

.aw-logo{
    float:left;
    height:90px !important;
    width:165.76px !important;
    margin-top:10px;
    margin-left:10px;
}

#map { height: 100%;
width:100%;
}

.min-vh-90{
    min-height: 85.1vh!important;
}
.x-btn{
    background-color:transparent;
    border:none;
    position: relative;
    top: -15px;
    left: 15px;
    color:#0f5132;
}

.x-btn-err{
    background-color: transparent;
    border:none;
    position: relative;
    top: -35px;
    left: 15px;
    color:#842029;
}

.nav-link.red:hover, .nav-link.red:focus, .nav-link.red:active {
    color:#CF0921;
}

.nav-link.yellow:hover, .nav-link.yellow:focus, .nav-link.yellow:active {
    color:#FCD20F;
}

.nav-link.green:hover, .nav-link.green:focus, .nav-link.green:active {
    color:#006B3D;
}

.green-btn{
    background-color:#006B3D;
    color:#ffffff;
}

.green-btn:hover{
    background-color: #005732;
    color:#ffffff;
}

.red-btn{
    background-color:#CF0921;
    color:#ffffff;

}

.form-grid-item{
    width:50%;
}

table a{
    color:#000000;
    text-decoration: none;
}

table a:hover{
    color:#006B3D;
    text-decoration: underline;
}

.logout{

    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;

}

.min-vh-90{
    height:100%;
    width:100%;
}
#map{
    height: 100%;
    width:100%;
    min-width: 250px;
}

div.min-h-screen > div.bg-white
{padding:25px;}


.div-wrap{
}
